.container {
  padding: 20px;
}

.dashboard {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffe6e6; /* Light pink background like the screenshot */
}

.table th, .table td {
  padding: 10px;
  border: 1px solid hsl(348, 10%, 72%); /* Light border */
  text-align: left;
  color: hsl(348, 10%, 72%);
}

.table th {
  background-color: #ffe6e6;
  color: hsl(348, 10%, 72%); /* Heading text color */
  font-weight: bold;
}

.thumbnail {
  width: 50px;
  height: 50px;
}

.editBtn, .deleteBtn {
  background-color: #3f2b2b;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.editBtn:hover {
  background-color: #ffe6e6; /* Darker shade on hover */
}

.deleteBtn:hover {
  background-color: #ffe6e6; /* Darker red for delete button on hover */
}

h1 {
  color:#3f2b2b ;
}
